@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans:wght@700&family=Roboto:wght@300&display=swap');

:root {
  --dark-blue: hsl(218, 44%, 22%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(220, 15%, 55%);
  --light-gray: hsl(212, 45%, 89%);
}


body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-box {
  background: white;
  flex-direction: column;
  border-radius: 20px;
  width: 320px;
  height: 480px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.082);
 }

.qrcodeimg {
  border-radius: 10px;
  width: 90%;  
  margin: 16px 16px 0px;
}

.title  {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  margin-bottom: 5px;
  max-width: 270px;
  color: var(--white)
}

.description {
  font-weight: 400;
  text-align: center;
  margin: 10px 34px 18px;
  color: var(--grayish-blue);
  font-size: 15px;
  max-width: 250px;
}
